name: Bazel Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build with Bazel, skip Vivado
        run: |
          bazel --max_idle_secs=10 \
            build \
              //src/ex1/... \
              //src/ex2/... \
              //src/ex3/... \
              //src/ex4/... \
              //src/inout/... \
              //src/twoproc/...

