name: Bazel Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup bazel
        uses: abhinavsingh/setup-bazel@v3
        with:
          version: 8.4.1
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache Bazel
        uses: actions/cache@v4
        with:
          path: ~/.cache/bazel
          key: ${{ runner.os }}-bazel-${{ hashFiles('**/WORKSPACE', '**/BUILD', '**/BUILD.bazel') }}
          restore-keys: |
            ${{ runner.os }}-bazel-

      - name: Build with Bazel
        run: |
          bazel --max_idle_secs=10 \
            build //... -- -//src/dff/tool_vivado/...

